/*Navbar*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 95px;
    background: var(--color-primaria);
}
/*Organização Header*/
.navbar-logo {
    font-size: 2rem;
    letter-spacing: -2px;
    cursor: pointer;
    transition: all 0.5s;
    color: var(--color-secundaria);
}
.navbar-list {
    display: flex;
    gap: 1rem;
}
.list-link {
    color: var(--color-terceira);
    position: relative;
    padding: 16px 0;
    font-weight: 700;
    cursor: pointer;
    transition: all .5s;
}
/*Efeitos*/
.navbar-logo:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
.list-link:hover::before, 
.list-link:focus::before {
    transform-origin: left top;
    transform:  scale(1, 1);
}
.list-link::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 1px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--color-secundaria);
    transform-origin: right top;
    transform:  scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
}
.list-link:hover {
    color: var(--color-secundaria);
}

/*footer*/
footer {
    background: var(--color-primaria);
    color: var(--color-secundaria);
}
.sessao-informacao {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 230px;
}
.sessao-esquerda-foooter {
    width: 211px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.texto-footer {
    color: var(--color-terceira);
}
.redes-socias {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
}
#redes-icone {
    color: var(--color-terceira);
    cursor: pointer;
    transition: all .5s;
}
#redes-icone:hover {
    color: var(--color-secundaria);
}
.sessao-servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.servicos-links {
    color: var(--color-terceira);
    cursor: pointer;
    transition: all .5s;
}
.servicos-links:hover {
    color: var(--color-secundaria);
}
.sessao-center {
    padding: 0px 8rem;
}
.borda-style {
    color: var(--color-terceira);
    border: .1px solid;
}
.sessao-fotter {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}