/*Primaria*/
.container-primaria {
    background: url(https://i.pinimg.com/564x/69/91/36/699136c380ebc7f0968aa12d2430919b.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.sessao-primaria {
    height: 521px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #000000a5;
}
.titulo-primaria {
    width: 623px;
    text-align: center;
    font-size: 2rem;
    color: var(--color-secundaria);
}
.texto-primaria {
    font-size: 1.1rem;
    width: 536px;
    text-align: center;
    color: var(--color-secundaria);
}
.btn-sessao-primaria {
    background-color: var(--color-quarta);
    width: 85px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 15px 0px;
    cursor: pointer;
    transition: all .5s;
    width: max-content;
    min-width: 40%;
}
.btn-primaria {
    background: var(--color-quarta);
    text-transform: uppercase;
    -webkit-text-stroke: thin;
    color: var(--color-secundaria);
}
#seta {
    font-size: 2.5rem;
    cursor: pointer;
    position: relative;
    animation: seta 1s infinite;
    color: var(--color-secundaria);
}
.organicao-primaria {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
#organicao-primaria {
    position: relative;
    animation: organicao-primaria 2.5s;
}
/*Efeitos*/
.btn-sessao-primaria:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 5px #DAA520, 0 0 25px #DAA520;
}
@keyframes seta {
    from {top: 0px;}
    to {top: 15px;}
}
@keyframes organicao-primaria {
    from {top: 120px;}
    to {top: 0px;}
  }

/*Secundaria*/
.sessao-secundaria {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 0px 5rem;
    gap: 1.5rem;
    background: var(--color-primaria);
}
.titulo-secundaria {
    width: 348px;
    color: var(--color-secundaria);
}
.texto-secundaria {
    width: 545px;
    color: var(--color-secundaria);
}
#seta-secundaria {
    background-color: var(--color-quarta);
    font-size: 1.5rem;
}
#btn-secundario {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: var(--color-secundaria);
}
#btn-sessao-secundario {
    min-width: 20%;
}
#secundaria {
    align-items: baseline;
    gap: 1.5rem;
}
/*Terceiro*/
.texto-terceiro {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    text-transform: uppercase;
}
.cards-sesssao {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card-sessao-teceiro {
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}
.tema-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .8rem;
}
.produtos-cards {
    color: #08080899;
}
.lista-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}
#btn-terceiro {
    min-width: 100%;
}
#style-card {
    background: #dcd7d771;
    cursor: pointer;
    transition: all .5s;
}
#btn-terceiro-link {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .7rem;
}
.h4 {
    font-size: .8rem;
}
/*Efeitos*/
#style-card:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    background: #0000002b;
}
@keyframes seta-esquerda {
    from {left: 0px;}
    to {left: 10px;}
}

/*Quarta*/
.conatiner-quarta {
    background: url(https://i.pinimg.com/564x/5c/28/6b/5c286bee251d4b75193ec1b2c001466a.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.sessao-quarta {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 0px 5rem;
    gap: 1.5rem;
    background: #000000be;
}
.titulo-quarta {
    width: 323px;
    color: var(--color-secundaria);
}
.texto-quarta {
    width: 560px;
    color: var(--color-secundaria);
}
#btn-sessao-quarta {
    min-width: 30%;
}
#btn-quarta {
    display: flex;
    align-items: center;
    gap: 1rem;
}
#quarta {
    align-items: baseline;
    gap: 1.5rem;
}

/*Container Metodologia*/
.container_metodologia {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 730px;
}
.metodologia_titulo {
    font-size: 2.5rem;
}
.organizacao_cubo {
    display: flex;
    align-items: baseline;
    gap: 5rem;
}
.cubo_top {
    width: 90px;
    background: var(--color-quarta);
    height: 90px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Cubo {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
}

/*Numeros*/
.container-numeros {
    display: flex;
    justify-content: space-evenly;
}
.sessao_numero_titulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 535px;
    gap: 1.5rem;
}
.Organizacao_cubo_numeros {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}
.cubos_numeros {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.texto_numeros {
    font-size: 2.5rem;
}
.organizacao_adc {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
}
.sessao-texto-numeros {
    font-size: 2.5rem;
}
.style-cubo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.centro-footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}